body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
table, td {
  border: 1px solid black;
}

label {
  color:red;
  font-size: 30px;
  background-color: white;
  border-radius: 15px;
}

#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing:10px;
}